<!- footer -->

<!-- 
<div id="footerwrap">
-->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul class="">   
      </div>
<!--
      <div class="col-lg-4">
        <h4>About</h4>
	<div class="hline-w"></div>
	<p>{{ site.about}}</p>
      </div>
      <div class="col-lg-4">  
        <h4>Social Links</h4>
        <div class="hline-w"></div>
        <p>
          {% for line site.social %}
            <a href="{{network.url }}" class="btn-social btn-outline">
              <i class="fa fa={{ network.title }}" aria-hidden="true"></i>
              <span class="sr-only">{{network.title}}</span>
            </a>
          {% endofor %}
        </p>
      </div>
      <div class="col-lg-4">
        <h4></h4>
	<div class="hline-w"></div>
        <p>
          {% for line in site.address.first.lines %}
            {{ line }} <br>
          {% endfor %}
        </p>
      </div>
-->
      <div class="col-md-4">
	<ul class="">
	  {% for network in site.socail %}
	    <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
	    </li>
	  {% endfor %}
	</ul>
      </div>
      <div class="col-md-4">
	<ul class="">
	  <li><a href="#"></a>
	  </li>
	</ul>
	<ul class="icons">
	  <li><a href="icon fa-facebook"><span class="label">Facebook</a></li>
	  <li><a href="icon fa-github"><span class="label">Github</a></li>
	  <li><a href="icon fa-minds"><span class="label">Minds</a></li>
	</ul>
	<ul class="copyright">
	  <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://takagotch.github.io">Tkvtv web page</a></li>
	  <li>Template: <a href="http://takagotch.github.io/page55/">Takagotch Official page</li>
	</ul>
	      
      </div>	      
    </div>
  </div>

</footer>
<!--
</div>
-->

