
<footer id="footer">
	
	
  <div class="container">
    <div class="row">
      <div class="col-md-4">

      </div>
      <div class="">
	<ul class="">
	  {% for network in site.socail %}
	    <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
	    </li>
	  {% endfor %}
	</ul>
      </div>

      <div class="col-md-4">
	<ul class="">
	  <li><a href="#"></a>
	  </li>
	</ul>
	<ul class="icons">
	  <li><a href="icon fa-facebook"><span class="label">Facebook</a></li>
	  <li><a href="icon fa-github"><span class="label">Github</a></li>
	  <li><a href="icon fa-minds"><span class="label">Minds</a></li>
	</ul>
	<ul class="copyright">
	  <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://takagotch.github.io">Tkvtv web page</a></li>
	  <li>Template: <a href="http://takagotch.github.io/page55/">Takagotch Official page</li>
	</ul>
	      
      </div>	      
    </div>
  </div>

</footer>


